<nav>
	<div class="level_one">
		<h1>
			<a href="{% url 'home' %}">LENDORADO</a>
		</h1>

		<form action="{% url 'search' %}" method="get">
			{% csrf_token %}
			<input type="text" name="search" placeholder="НАЗВАНИЕ ТАВАРА">
			<button type="submit">НАЙТИ</button>
		</form>
	
	</div>
 
	<div class="level_two">

		<div class="list">
			<a href="{% url 'products_all' %}">все товары</a>
		</div>

		<div class="list">
			<a href="{% url 'products_sale' %}">товары по скидке</a>
		</div>

	</div>

</nav>