{% load static %}
<!DOCTYPE html>  
<html lang="en"> 
<head>
    <meta charset="UTF-8">  
    <title>LENDORADO</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/products.css' %}">
</head>
<body>
    {% include 'header.html' %}

	<content>

        <div class="product"> 
            {% for product in products %}

                <p>{{ product.title }}</p>

            {% endfor %}
        </div>

    </content>

    {% include 'footer.html' %}
</body>
</html>