@font-face {
	font-family: Staatliches-Regular;
	src: url('font-family/Staatliches-Regular.ttf');
}

nav {
	background-color: #F4F3F8; 
	font-family: Staatliches-Regular;

	display: grid;
	grid-template-areas: 
		"level_one"
		"level_two";
}



.level_one {
	grid-area: level_one;

	display: grid;
	grid-template-columns: 1fr 3fr 2fr 0.5fr 0.2fr;
	grid-template-areas: 
			"h1 . input buttom ."
}

	.level_one h1 {
		grid-area: h1;
		color: #C10230;	
		font-size: 38px;

		margin-top: -0px;
	}

	.level_one input {
		background-color: #F4F3F8;
		grid-area: input;
		border: none;
		border-bottom: 1px solid #76BC21;
		outline: none;
		height: 39px;
	}

	.level_one button {
		grid-area: buttom;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px; 
		border: none;	
		background-color: #76BC21;
		color: #E9E9E9;
		height: 42px;
	}

.level_two {
	grid-area: level_two;
}

.level_two a {
	text-decoration: none;
	color: #606062;
	text-transform: uppercase;
}

.level_two a:hover {
	color: #76BC21;
}