body { 
	display: grid;
	grid-template-areas:
		"nav nav"
		"content content"
		"footer footer";
} 

nav {
	grid-area: nav;
}

content {
	grid-area: content;

	display: grid;
	grid-template-columns: 1.7fr 6fr;
}

	content .category {
		margin-left: 10%;
	}

		.category .list {
			margin-top: 7%;
		}

		.category a {
			font-weight:bold
		}

	content .product {

	}
	
footer {
	grid-area: footer;
}