body {
	display: grid;
	grid-template-areas:
		"nav nav"
		"content content"
		"footer footer";
}

nav {
	grid-area: nav; 
}

content {
	grid-area: content;
}


	content .product {

	}

footer {
	grid-area: footer;
}